
:root{
  --font-parent:'Times New Roman', Times, serif;
  --font-child:Arial, Helvetica, sans-serif;

  --color-white:#FFFFFF;
  --color-golden:#FFD700;
  --color-black:#1e272e;
  --color-grey:#d2dae2;
  --color-bayWharf:#57606f;
  --color-pestigeBlue:#2f3542;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}