.home__body{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background: var(--color-pestigeBlue);
    overflow-x: hidden;
}
.home__body-imageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0.75;

    -webkit-animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.home__body-imageContainer img{
    height: 200px;
    width: 200px;
}
.home__body-contents{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--color-white);
    flex: 1;

    -webkit-animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.home__body-contents *{
    margin: 10px;
}
.home__body-contents p{
    width: 70%;
}


/* Animations */
@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-200px);
              transform: translateX(-200px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(-200px);
              transform: translateX(-200px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  /*  */
  @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }